@inherits LayoutComponentBase
<div class="d-flex justify-content-center align-items-center bg-light" style="width: 100%; height: 100%;">
    <div class="shadow bg-white p-4" style="width: 100%; max-width: 480px;">
        @Body
    </div>
</div>
