@page "/Classi/Nuova"
@inherits PageBase
<PageTitle>Nuova Classe</PageTitle>
<BodyTitle Title="Nuova Classe" />
<ErrorMessage Message="@errorMessage" />
<EditForm EditContext="@editContext" OnValidSubmit="@OnSubmitAsync">
    <FluentValidationValidator />
    <ValidationSummary />

    <FormRow Label="Nome">
        <InputText class="form-control" @bind-Value="formModel.Nome" />
    </FormRow>

    <div class="row">
        <div class="col">
            <a href="/Classi" class="btn btn-secondary me-2">Annulla</a>
            <FormSubmit IsBusy="@isBusy" />
        </div>
    </div>
</EditForm>